header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.banner{
    background-color: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.a-menu{
    padding: 10px;
    margin: 10px;

}

.nosotros{
    padding: 15px;
}
.servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;

}
.serv{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 90%;
    background-color: rgb(54, 65, 112);
    padding: 0px;
}

.serv:hover{
    width: auto;
    background: linear-gradient(190deg, rgb(54, 65, 112), rgb(112, 122, 165));
    transition: 2s;
    z-index: 1;
}
.contacto{
    padding: 20px;
}

.wpp{
    float: right;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    display: flex;
    padding: 1rem;
}
.navbar{
    color: rgba(102, 51, 153, 0);
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.anav-link{
    color: rebeccapurple;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.anav-link:hover{
    transition: 1s;
    text-shadow: rebeccapurple 1px 0 10px;
    text-decoration: none;
}

iframe{
    width: auto;
}
.abtn{
    width: 100%;
}

.inferior{
    height: auto;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: center;
}
form{
    padding: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.acord{
    padding: 20px;
}

@media (max-width: 800px){

}